name: test
on: [push, pull_request]

jobs:
  test-run:
    runs-on: ubuntu-latest
    container:
      image: archlinux
      options: --privileged
      volumes:
        - /sys/fs/cgroup:/sys/fs/cgroup
    steps:
      - uses: actions/checkout@v3
      - name: Build Arch Linux package
        uses: ./
        with:
          BUILD_SCRIPT: extra-x86_64-build
          PKGBUILD: $GITHUB_WORKSPACE/.github/workflows/PKGBUILD
          OUTDIR: $HOME/arch-packages
      - name: Build the package again
        uses: ./
        with:
          BUILD_SCRIPT: extra-x86_64-build
          PKGBUILD: $GITHUB_WORKSPACE/.github/workflows/PKGBUILD
          OUTDIR: $HOME/arch-packages2

# See: https://github.com/taotieren/deepin-wine-qq-arch/blob/master/.github/workflows/main.yml
